.btn--icon-calendar {
    padding-left: 45px;
    padding-right: 25px;
    position: relative;
}

.btn--bg-orange  {
  font-size: 14px;
  font-family: 'Fira Sans',sans-serif;
  line-height: 18px;
  font-weight: 500;
  color: @white;
  margin-bottom: 0;
  background-image: none;
  text-decoration: none;
  background-color: @color-info;
  padding: 10px 30px;
  border-radius: 70px;
  display: inline-block;
  touch-action: manipulation;
  cursor: pointer;
  border: none;
  outline: 0;
  transition: ease-in-out all 400ms;
  text-transform: uppercase;
}
